body {
    background-color: rgba(27, 27, 26, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(27, 27, 26, 255);
    padding: 20px;
    border-radius: 5px;
}

.greet {
    text-align: center;
    color: white;
}
.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: rgba(27, 27, 26, 255);
    color: #fff;
}

input::placeholder {
    color: #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}